html, 
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #ffffff;
}
  
h2.advantages-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.page-header {
    padding-top: 50px;
    background: #eeeeee;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-top-layout {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: block;
    width: 160px;
    height: 65px;
}

.main-nav {
    width: 600px;
    margin-left: 160px;
}

.main-nav ul {
    margin: 0 auto;
}

.main-nav li {
    display: inline-block;
    margin-right: 48px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
    display: block;
    padding-top: 25px;
    padding-bottom: 3px;
}

.user-block {
    display: flex;
    justify-content: flex-end;
    width: 160px;
}

.user-block a {
    display: inline-block;
    padding-top: 25px;
    
}

.slide {
    margin: 0;
    padding: 0;
    height: 430px;
}

.slide-1 {
    background-image: url("#");    
}

.slide-info strong {
    font-size: 55px;
}

.more {
    width: 240px;
    height: 50px;
    margin-bottom: 80px;
    background-color: #fb565a;
}

.btn {
    display: block;
    border-radius: 4px;
    font-weight: 500 #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.advantages {
    width: 1100px;
    margin-bottom: 82px;
    display: flex;
    justify-content: space-between;
}

.advantages-title {
    font-size: 24px;
    text-transform: uppercase;
}

.order {
    width: 160px;
    height: 50px;
}

.order-red {
    background-color: #fb565a;
}

.order-green {
    background-color: #00ca74;
}

.order-yellow {
    background-color: #efc84a;
}

/*about-us*/

.about-us {
    display: flex;
}

.about-us-left {
    width: 680px;
}

.about-us-right {
    width: 360px;
}

.about-us-right-wrap {
    display: flex;
    justify-content: space-between;
}

.about-us-plus {
    width: 120px;
    margin-top: 25px;
}

.about-us-plus b {
    display: block;
    margin-bottom: 17px;
    font-size: 45px;
}

.about-us-plus sup {
  font-size: 27px;
}

.line {
    width: 100%;
    border: 1px solid #eeeeee;
}

.partners ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 180px;
}

.line-bottom {
    margin-bottom: 80px;
}

/*sidebar*/

.main-layout {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 260px;
}

.range-filter {
    background: yellow;
}

.range-control {
    width: 260px;
    height: 80px;
    background-color: #eeeeee;
    border-radius: 4px;
}

.filter-on-radio-buttons {
    background: yellow;
    margin-bottom: 44px;    
}

.filter-on-checkbox {
    background: yellow;
}

/*catalog*/

.catalog {
    width: 760px;
    background: yellow;
}

.sort-catalog {
    margin-bottom: 32px;
}

.sort-catalog-layout {
    display: flex;
    justify-content: space-between;
}

.sort-catalog h4 {
    width: 300px;
    margin-top: 15px;
}

.sort-catalog-criterions {
    width: 300px;
    margin-left: 80px;
    padding: 20px 0;
}

.catalog-items-layout {
    display: flex;
    flex-wrap: wrap;
    background: grey;
}

.item-info {
    display: block;
    width: 360px;
    height: 230px;
    text-align: center;
    padding-bottom: 8px auto 43px;
    background-color: #eeeeee;
}

.catalog-item img {
    display: block;
    width: 360px;
    height: 576px;
}

/*catalog-page*/

.catalog-page-layout {
    display: flex;
    justify-content: flex-start;
}

.catalog-page li {
    display: inline-block;
}

.catalog-page-nav a {
    display: block;
    width: 50px;
    height: 50px;
}

/*footer*/

.write-us-area {
    display: none;
}

.write-us-btn {
    width: 219px;
    margin-top: 35px;
    background-color: #fb565a;
}

.contacts {
    width: 319px;
    height: 308px;
    padding: 50px;
    background-color: #ffffff;
}

.map {
    width: 100%;
}

.page-footer {
    min-height: 633px;
}

.footer-layout {
    display: flex;
    justify-content: flex-start;
}

.social-networks {
    width: 360px;
    margin-right: 40px;
}

.social-links {
    display: flex;
}

a.social-link {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #e1e1e1;
}

.discount {
    width: 560px;
}

.discount h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
}





